.confetti {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    user-select: none;
}

body {
    cursor: pointer;
}

.name {
    font-weight: 900;
    text-transform: uppercase;
    padding: 36px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 27%;
    color: rgb(220, 111, 171);
    font-family: 'Arial', sans-serif;
    font-size: 63px;
    letter-spacing: 10px;
    text-shadow: 2px 4px 11px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    border-radius: 10px; /* Adding rounded corners for better aesthetics */
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

.info {
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 28%; /* Plasserer teksten rett under .name */
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px; /* Mye mindre skriftstørrelse */
    letter-spacing: 2px;
    text-shadow: 1px 2px 5px rgb(0 0 0 / 28%);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    animation: rainbow 5s infinite; /* Animasjon for å endre farger */
}

#gift-button {
    font-weight: 900;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 79%; /* Plasserer knappen litt under de andre elementene */
    background-color: hotpink; /* Knall rosa bakgrunn */
    color: white; /* Hvit tekst */
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    letter-spacing: 2px;
    text-shadow: 1px 2px 5px rgb(0 0 0 / 28%);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

#gift-button:hover {
    background-color: deeppink; /* Mørkere rosa ved hover */
}