body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.animated-text {
    font-size: 2em;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cool-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #efb54a;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.cool-button:hover {
    background-color: #735123;
    transform: scale(1.1);
}